language: python
python:
  - "3.6"
# command to install dependencies
install: 
  - pip install pytest pytest-cov
  - pip install codecov
# command to run tests
script:
  - pytest --cov=./
after_success:
  - codecov
# deploy:
#   provider: heroku
#   api_key:
#     secure: "0b90410b-6249-46b0-ae61-9ebfeea70a1c"
#   app: ist303-test
#  on:
#     repo: sqewad/deploy_test
